<!DOCTYPE html>
<html>
  <head>
    <title data-i18n="<%= locals.pagetitle %>" ><%- defineContent('title') %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
  </head>
  <body>
    <header>

      <nav class="navbar navbar-inverse">
        <div class="container">
          <a href="/" class="navbar-brand">someone's site</a>
          <ul class="nav navbar-nav">
            <li><a href="/" data-i18n="nav##home">Home</a></li>
            <li><a href="/about" data-i18n="nav##about">About</a></li>
            <li><a href="/levs-html-page" data-i18n="nav##lev">Levenshtein distance calculator</a></li>
            <li><a href="/hanois-html-page" data-i18n="nav##hanoi">Towers of Hanoi</a></li>
            <li><a href="/pals-html-page" data-i18n="nav##palindrome">Palindrome solver</a></li>
            <li><a href="/contact" data-i18n="nav##contact">Contact</a></li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <% if (locals.loggedIn === true) { %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= 'Hello, ' + locals.username + '!' %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="/logout">Log out</a></li>
                </ul>
              </li>
            <% } else { %>
              <li><a href="/login">Log in</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/register">Register</a></li>
            <% } %>
              <li><a class="lng-switch" id="lng-en" data-language="en">EN</a></li>
              <li><a class="lng-switch" id="lng-cat" data-language="cat">CAT</a></li>
          </ul>
        </div>
      </nav>

    </header>

<% if (locals.flashes.errorMessage) { %>
  <div class="container">
    <div class="alert alert-danger" role="alert">
      <%= locals.flashes.errorMessage %>
    </div>
  </div>
<% } %>

<% if (locals.flashes.successMessage) { %>
  <div class="container">
    <div class="alert alert-success" role="alert">
      <%= locals.flashes.successMessage %>
    </div>
  </div>
<% } %>

<!-- MAIN CONTENT HERE -->
<%- defineContent('hero') %>

    <main>
      <div class="container">
        <%- body %>
      </div>
    </main>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">le site &copy; 2016</p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/lib/js/i18next.min.js"></script>
    <script src="/lib/js/jquery-i18next.min.js"></script>
    <script src="/lib/js/i18nextXHRBackend.min.js"></script>
    <script src="/lib/js/i18nextBrowserLanguageDetector.min.js"></script>
    <script>
    i18next
      .use(i18nextXHRBackend)
      .use(i18nextBrowserLanguageDetector)
      .init({
        debug: true,
        fallbackLng: null,
        // lng: 'cat', // evtl. use language-detector https://github.com/i18next/i18next-browser-languageDetector,
        // detection: {
        //   // order and from where user language should be detected
        //   order: ['querystring', 'cookie'],
        //
        //   // keys or params to lookup language from
        //   lookupQuerystring: 'lng',
        //   lookupCookie: 'i18next',
        //   lookupLocalStorage: 'i18nextLng',
        //
        //   // cache user language on
        //   caches: ['localStorage', 'cookie']
        //
        //   // optional htmlTag with lang attribute, the default is:
        //   htmlTag: document.documentElement
        // }
      }, function(err, t) {
        // for options see
        // https://github.com/i18next/jquery-i18next#initialize-the-plugin
        jqueryI18next.init(i18next, $);
        // start localizing, details:
        // https://github.com/i18next/jquery-i18next#usage-of-selector-function
        $(document).localize();
      });

      $(function () {
        $('.lng-switch').on('click', function () {
          var $this = $(this);
          i18next.changeLanguage($this.data('language'), function (err, t) {
            $(document).localize();
          });
        })
      });

    </script>

<%- defineContent('pageJS') %>

  </body>
</html>
