<div class="jumbotron clearfix">
  <h2>Translation keys</h2>
  <p>Fill in the form below to add a new translation key:</p>


  <div class="container col-sm-6">
    <form class="form-horizontal" method="POST">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="sr-only" for="app">App</label>
            <input type="text" class="form-control" id="app" name="app" placeholder="App" <% if (locals.prevReq) { %>
                                                                                            value= <%= locals.prevReq.app %>
                                                                                          <% } %> >
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="sr-only" for="language">Language</label>
            <input type="text" class="form-control" id="language" name="language" placeholder="Language" value= <%= locals.prevReq.language %> > <!--SHOULD TAKE LANGUAGE FROM SELECTED TAB-->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
              <label class="sr-only" for="key">Key</label>
              <input type="text" class="form-control" id="key" name="key" placeholder="Key" value= <%= locals.prevReq.key %> >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
              <label class="sr-only" for="translationString">Translation string</label>
              <input type="text" class="form-control" id="translationString" name="translationString" placeholder="Translation string" value= <%= locals.prevReq.translationString %> >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12">
          <button type="submit" class="btn btn-info">Add</button>
        </div>
      </div>
    </form>

  </div>

</div>
<table>
  <thead>
    <tr>
      <th>Language</th>
      <th>App</th>
      <th>Key</th>
      <th>Translation String</th>
    </tr>
  </thead>
  <tbody>
    <% locals.allKeys.forEach(function(translation){ %>
      <tr>
        <td><%=translation.language%></td>
        <td><%=translation.app%></td>
        <td><%=translation.key%></td>
        <td><%=translation.translationString%></td>
      </tr>
    <% }); %>
  </tbody>
</table>
