<div class="jumbotron clearfix">
  <h2>Translation keys</h2>
  <p>Fill in the form below to add a new translation key, or select one from the table below to modify its corresponding string:</p>


  <div class="container col-sm-6">
    <form class="form-horizontal" method="POST">

      <div class="row">
        <div class="col-sm-6">
          <div class="form-group">
            <label class="sr-only" for="app">App</label>
            <input type="text" class="form-control" id="app" name="app" placeholder="App" onkeyup="search()" <% if (locals.prevReq) { %>
                                                                                            value= <%= locals.prevReq.app %>
                                                                                          <% } %> >
          </div>
        </div>

        <div class="col-sm-6">
          <div class="form-group">
            <label class="sr-only" for="language">Language</label>
            <input type="text" class="form-control" id="language" name="language" placeholder="Language" onkeyup="search()" <% if (locals.prevReq) { %>
                                                                                                          value= <%= locals.prevReq.language %>
                                                                                                        <% } %> > <!--SHOULD TAKE LANGUAGE FROM SELECTED TAB-->
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
              <label class="sr-only" for="key">Key</label>
              <input type="text" class="form-control" id="key" name="key" placeholder="Key" onkeyup="search()" <% if (locals.prevReq) { %>
                                                                                              value= <%= locals.prevReq.key %>
                                                                                            <% } %> >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
              <label class="sr-only" for="translationString">Translation string</label>
              <input type="text" class="form-control" id="translationString" name="translationString" placeholder="Translation string" onkeyup="search()" <% if (locals.prevReq) { %>
                                                                                                                                        value= <%= locals.prevReq.translationString %>
                                                                                                                                      <% } %> >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12">
          <div class="checkbox">
            <label>
              <input id="case-sensitive" type="checkbox" onclick="search()"> Enable case-sensitive search
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-sm-12">
          <button type="submit" class="btn btn-success">
            <i id="submit-btn-icon" class="fa fa-plus"></i>
            <span id="submit-btn-text">Add</span>
          </button>
          <button type="button" class="btn btn-danger" id="btn-reset">
            <i class="fa fa-times"></i>
            Reset
          </button>
          <button type="button" class="btn btn-info" id="btn-export">
            <i class="fa fa-cloud-download"></i>
            Export
          </button>
        </div>
      </div>

      <input type="hidden" id="functionality" name="functionality" value="add">

    </form>
  </div>

</div>

<div class="jumbotron clearfix">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Language</th>
        <th>App</th>
        <th>Key</th>
        <th>Translation String</th>
        <th>Modify</th>
      </tr>
    </thead>
    <tbody id="tBody">
      <% locals.allKeys.forEach(function(translation,idx){ %>
        <tr id="translation-row-<%=idx%>"  data-language="<%=translation.language%>" data-app="<%=translation.app%>" data-key="<%=translation.key%>" data-string="<%=translation.translationString%>">
          <td class="language"><%=translation.language%></td>
          <td class="app"><%=translation.app%></td>
          <td class="key"><%=translation.key%></td>
          <td class="translationString"><%=translation.translationString%></td>
          <td class="translation-table-select">
            <button type="button" class="btn btn-info" style="width:100%;" data-idx="<%=idx%>" onclick="select(this)">
              <i class="fa fa-pencil-square-o fa-lg"></i>
            </button>
          </td>
        </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- contentFor('pageJS') %>
<script type="text/javascript">
  function select (btn) {
    var idx = $(btn).data("idx").toString();
    var targetRow = "table #tBody #translation-row-"+idx;

    var $appName = $(targetRow+" .app").text();
    var $lang = $(targetRow+" .language").text();
    var $key = $(targetRow+" .key").text();
    var $translationString = $(targetRow+" .translationString").text();

    $("#app").val($appName).attr('readonly', 'readonly');
    $("#language").val($lang).attr('readonly', 'readonly');
    $("#key").val($key).attr('readonly', 'readonly');
    $("#translationString").val($translationString);

    $("#functionality").val("edit");
    $("#submit-btn-text").text("Save");
    $("#submit-btn-icon").removeClass("fa-plus").addClass("fa-floppy-o");
  }

  function reset () {
    $("#app").val("").attr('readonly', null);
    $("#language").val("").attr('readonly', null);
    $("#key").val("").attr('readonly', null);
    $("#translationString").val("");

    $("#functionality").val("add");
    $("#submit-btn-text").text("Add");
    $("#submit-btn-icon").removeClass("fa-floppy-o").addClass("fa-plus");

  }

  $("#btn-reset").on('click', reset);

  function objectify() {
    var translations = {};
    $("#tBody tr").each(function (idx,elem) {
      var $elem = $(elem);
      if ($elem.hasClass("search-result-true") || $elem.attr("class") === "" || !$elem.attr("class")) {
        var $elemid = "#"+$elem.attr("id").toString();
        var key = $($elemid+" .key").text();
        var $translationString = $($elemid+" .translationString").text();
        translations[key] = $translationString; //why in the Norse Gods' name does this not work if I call it $key? :P
      }
    });
    return translations;
  }

  $("#btn-export").on('click', fExport);

  function makeTextFile(text) {
    var textFile = null;
    var data = new Blob([text], {type: 'text/plain'});

    // If we are replacing a previously generated file we need to
    // manually revoke the object URL to avoid memory leaks.
    if (textFile !== null) {
      window.URL.revokeObjectURL(textFile);
    }

    textFile = window.URL.createObjectURL(data);

    // returns a URL you can use as a href
    return textFile;
  };

  function fExport() {
    var transJSON = objectify();

    var link = document.createElement('a');
    link.setAttribute('download', 'translation.json');
    link.href = makeTextFile(JSON.stringify(transJSON, null, 2));
    document.body.appendChild(link);

    // wait for the link to be added to the document
    window.requestAnimationFrame(function () {
      var event = new MouseEvent('click');
      link.dispatchEvent(event);
      document.body.removeChild(link);
    });
  }

  function search() {

    var langInput = $('#language').val(),
      appInput = $('#app').val(),
      keyInput = $('#key').val(),
      stringInput= $('#translationString').val();


    $("tr.search-result-true").removeClass("search-result-true");
    $("tr.search-result-false").removeClass("search-result-false");

    if (!langInput && !appInput && !keyInput && !stringInput) {
      return;
    }

    $("#tBody tr").each(function(idx,elem) {
      var $elem = $(elem);

      if (!$('#case-sensitive').prop('checked')) {
        if (((!langInput) || ($elem.data("language").toUpperCase().startsWith(langInput.toUpperCase()))) &&
        ((!appInput) || ($elem.data("app").toUpperCase().indexOf(appInput.toUpperCase())!==-1)) &&
        ((!keyInput) || ($elem.data("key").toUpperCase().indexOf(keyInput.toUpperCase())!==-1)) &&
        ((!stringInput) || ($elem.data("string").toUpperCase().indexOf(stringInput.toUpperCase())!==-1)))
        {
          $elem.addClass("search-result-true");

        } else {
          $elem.addClass("search-result-false");
        }

      } else {
        if (((langInput) && ($elem.data("language").startsWith(langInput))) ||
          ((appInput) && ($elem.data("app").indexOf(appInput)!==-1)) ||
          ((keyInput) && ($elem.data("key").indexOf(keyInput)!==-1)) ||
          ((stringInput) && ($elem.data("string").indexOf(stringInput)!==-1)))
        {
          $elem.addClass("search-result-true");

        } else {
          $elem.addClass("search-result-false");
        }
      }


    });

  }
search();
</script>
